body {
    height: 100%;
  }
  .bg {
    
    background-image: url(img/vestiaire.jpg);
    
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img {
      size: 50%;
  }

  h1 {
    text-align: center;
    padding: 15px;
}

.span_Welcome{
    font-size: 20px;
    color: white;
    margin-left: 29%;
}

div.bouton-aligne{
	display:inline-block;
	width:45%;
    margin:10px 2.5% 10px 2.5%;
    margin-left: 29%;
	text-align:center;
}

img.ballon{
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  opacity: 0.8; 
}

img.ballon:hover{
  -moz-transform: rotate(5deg) scale(1.10);
  -webkit-transform: rotate(5deg) scale(1.10);
  -o-transform: rotate(5deg) scale(1.10);
  -ms-transform: rotate(5deg) scale(1.10);
  transform: rotate(5deg) scale(1.10);
  opacity: 1;
}